@media all and (min-width: 1344px) {
	.grid-global {
		width: 75%;
		margin: auto;
	}
	.grid-item {
		padding: 10px;
	}
	.descr {
		width: 60%;
	}
	.grid-sizer,
	.grid-item {
	  width: 25%;
	}
	h2 {
		font-size: 15pt;
		letter-spacing: 1pt;
		line-height: 20pt;}
	h3 {
		font-size: 12pt;
		letter-spacing: 1.7pt;
		line-height: 17pt;}
	header img {
		width: 25vw;
		margin: 10% auto;
	}
	.footer img {
		width: 40px;
		margin: 10px 0 10px 0;}
	.footer {
		right: 2vw;
		top: 15vh;
		width: 40px;
	}
	.footer img:hover {
		opacity: 1;
	}
}
@media screen and (min-width: 700px) and (max-width: 1344px) {
	.grid-global {
		max-width: 80%;
		margin: auto;
	}
	.grid-item {
	  width: 160px;
		padding: 5px;
	}
	.grid-sizer,
	.grid-item {
		width: 25%;
	}
	header img {
		width: 30vw;
		margin: 10% auto;
	}
	.descr {
		width: 70%;
	}
	h2 {
		font-size: 13pt;
		letter-spacing: 0.7pt;
		line-height: 17pt;}
	h3 {
		font-size: 11pt;
		letter-spacing: 1.5pt;
		line-height: 14pt;}
	.footer img {
		width: 30px;
		margin: 10px 0 10px 0;}
	.footer {
		right: 2vw;
		top: 15vh;
		width: 40px;
	}
	.footer img:hover {
		opacity: 1;
	}
}
@media screen and (min-width: 550px) and (max-width: 900px) {
	h2 {
		font-size: 11pt;
		letter-spacing: 0.5pt;
		line-height: 14pt;}
	h3 {
		font-size: 9pt;
		letter-spacing: 1pt;
		line-height: 12pt;}
}
@media screen and (min-width: 300px) and (max-width: 550px) {
	.descr {width: 80%;}
	h2 {
		font-size: 8pt;
		letter-spacing: 0.1pt;
		line-height: 10pt;}
	h3 {
		font-size: 7pt;
		letter-spacing: 0.3pt;
		line-height: 10pt;}
}
@media screen and (min-width: 450px) and (max-width: 700px) {
	.grid-global {
		max-width: 80%;
		margin: auto;}
	header img {
		width: 40vw;
		margin: 10% auto;
	}
	.grid-item {
		padding: 5px;
	}
	.grid-sizer,
	.grid-item {
		width: 33.3%;
	}
	.footer img {
		width: 30px;
		margin: 10px 0 10px 0;}
	.footer {
		right: 2vw;
		top: 15vh;
		width: 40px;
	}
	.footer img:hover {
		opacity: 1;
	}
}
@media screen and (max-width: 450px) {
	.grid-global {
		max-width: 90%;
		margin: auto;}
	header img {
		width: 50vw;
		margin: 20% auto;
	}
	.grid-item {
		padding: 3px;
	}
	.footer img {
		width: 8vw;
		margin: 1vw 2vw;}
	.footer {
		top: 93%; left: 50%;
	  transform: translate(-50%, -50%);
		width: max-content;
		background: #FFF;
		padding: 2vw;
	}
}
@media screen and (min-width: 300px) and (max-width: 450px) {
	.grid-sizer,
	.grid-item {
		width: 50%;
	}}
@media screen and (max-width: 300px) {
	.grid-sizer,
	.grid-item {
		width: 100%;
	}}

h1 {
	font-size: 13pt;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	color: #383838;
	margin: auto;
	text-align: center;
	display: inline-block;
	padding: 5px 0px;
	border-bottom: 0.5px solid #383838;
}
h2 {
	color: #FFF;
	font-family: 'Source Sans Pro';
	font-weight: 400;
}
h3 {
	color: #FFF;
	font-family: "Source Sans Pro";
	font-weight: 300;
}
h4 {
	font-size: 13pt;
	color: #505050;
	letter-spacing: 3px;
	margin: 0px;
	font-family: "Source Sans Pro";
	font-weight: 300;
	line-height: 1.6;
}
p {
	font-family: 'Source Sans Pro';
	letter-spacing: 0.15pt;
	font-weight: 300;
	font-size: 13.5pt;
	line-height: 24pt;
	-webkit-margin-before: 0px;
  -webkit-margin-after: 1em;
}
a {
	text-decoration: none;
	color: black;
}
header {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	grid-area: header;
}


.selection {
	grid-area: select;
	display: none;
 	grid-template-columns: repeat(4,25%);
	margin: 5% 0% 10% 0%;
	justify-items: center;
}
.grid-content {
	display: inline-grid;
	grid-area: content;
}
.grid-global {
	display: grid;
	grid-template-rows: auto;
	margin: auto;
	margin-bottom: 20vh;
	grid-template-areas:	". header header ."
												"content content content content";
}
* { box-sizing: border-box; }
.grid-item {
  float: left;
}
.grid-item img {
  display: block;
  max-width: 100%;
}
.descr {
	display: none;
	position: absolute;
	top: 50%; left: 50%;
  transform: translate(-50%, -50%);
	text-align: center;
}
.grid .grid-item:hover img{
	filter: brightness(30%);
	transition: filter .5s ease;
}

.grid-item:hover .descr {
	display: block;}


.footer img {
	opacity: 0.3;
	transition: opacity 0.3s ease;
	}

.footer {
	position: fixed;
	display: inline-block;
	margin: auto;
}
