@media all and (min-width: 950px) {
	.grid-global {
		max-width: 1300px;
		margin: auto;}
}


h1 {
	font-size: 22pt;
	font-family: 'audimat_3000_mi-grasregular';
	color: #383838;
}
h2 {
	font-size: 13pt;
	letter-spacing: 1px;
	color: #9a9a9a;
	font-family: 'Source Sans Pro';
	font-weight: 400;
	line-height: 21pt;
	mix-blend-mode: multiply;
}
h3 {
	font-size: 18pt;
	color: #505050;
	letter-spacing: 13px;
	margin: 10px 0px 0px 9px;
	font-family: "Source Sans Pro";
	font-weight: 500;
	line-height: 1.6;
}
h4 {
	font-size: 13pt;
	color: #505050;
	letter-spacing: 3px;
	margin: 0px;
	font-family: "Source Sans Pro";
	font-weight: 300;
	line-height: 1.6;
}
p {
	font-family: 'Source Sans Pro';
	letter-spacing: 0.15pt;
	font-weight: 300;
	font-size: 13.5pt;
	line-height: 24pt;
	-webkit-margin-before: 0px;
  -webkit-margin-after: 1em;
}
a {
	text-decoration: none;
	color: black;
}

header {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	grid-area: header;
}

header img {
	width: 20vw;
	margin-bottom: 20vh;
}

.grid-content {
	display: inline-grid;
	grid-area: content;
}

.grid-global {
	display: grid;
	grid-template-rows: auto;
	margin: 20vh auto;
	grid-template-areas:	". header header ."
												"content content content content";
}

* { box-sizing: border-box; }

.grid {
  max-width: 1300px;
}

.grid-item {
	display: block;
  width: 325px;
  height: auto;
	padding: 10px;
}

.grid img {
	width: 325px;
}

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }

.footer img {
	width: 40px;
	margin: 0 10px 0 10px;
	opacity: 0.3;
	transition: opacity 0.3s ease;
	}
.footer img:hover {
	opacity: 1;
}
.footer {
	grid-column: 1 / span 4;
	justify-content: center;
	margin: auto;
	height: 40px;
	margin-top: 20vh;
}
