<a class="art-focus-link" href="#">
  <div class="focus">
    <p class="p-focus">
      Récemment, j’ai découvert un projet assez fascinant qui s’intitule « X Degrees of Separation« . Cette expérience HTML en ligne a été réalisée par Google Arts & Culture et Mario Klingemann. L’outil se base sur du machine learning et vous permet très simplement
      de découvrir quelles œuvres d’art séparent deux œuvres que vous aurez choisi…
    </p>
    {{>molecules-img-focus}}
  </div>
</a>