<div class="b-hastags">
  {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}}
</div>