<div class="propositions">
  <div class="title-prop">ÇA VA SUREMENT T'INTÉRESSER ...</div>
  <div class="items-prop">
    {{>molecules-img-preview}} {{>molecules-img-preview}} {{>molecules-img-preview}}
  </div>
</div>