<div class="footer">
  <div class="footer-l1">
    <h4>Équipe projet</h4>
    <h4>|</h4>
    <h4>Mentions légales</h4>
    <h4>|</h4>
    <h4>Plan de site</h4>
    <h4>|</h4>
    <h4>Conditions d’utilisation</h4>
    <h4>|</h4>
    <h4>Confidentialité & cookies</h4>
  </div>
  <div>© Blog web design ECV - 2017. Tous droits réservés</div>
</div>