<div class="block-issue">
  <div class="issue-title">Une difficulté, poste-la !</div>
  <div class="section-issue">
    {{>molecules-square-soucis}} {{>molecules-square-soucis}} {{>molecules-square-soucis}} {{>molecules-square-soucis}} {{>molecules-square-soucis}} {{>molecules-square-soucis}} {{>molecules-square-soucis}}
  </div>

  <div class="forms-line form1">{{>atoms-infos-issue}}</div>
  <div class="forms-line form2">{{>atoms-infos-issue}}</div>
  <div class="forms-line form3">{{>atoms-infos-issue}}</div>

  <div class="form4">{{>atoms-infos-issue}}</div>
  <div class="formbox formbox1">{{>atoms-checkbox}}</div>
  <div class="formbox formbox2">{{>atoms-checkbox}}</div>
  <div class="formbtn">{{>atoms-button-ok}}</div>
</div>