<div class="homepage news-none">
  {{>organisms-head-section}} {{>molecules-menuvertical}} {{>atoms-newsletter}} {{>molecules-img-focus-section}} {{>organisms-block-art}} {{>atoms-button-back}} {{>organisms-footer}}
</div>