<a class="link-soucis" href="#">
  <div class="block-soucis">
    {{>molecules-square-pb}}
    <div class="title-soucis">Title of the problem</div>
    <div class="subtitle-soucis">Name — 09 JAN 2017 — HH:MM</div>
    <p>Je suis un débutant en Arduino. J'ai un problème avec mon Arduino UNO R3 : je n'arrive plus à téléverser des programmes dessus (alors qu'avant elle marchait parfaitement bien). J'ai déjà regardé sur des forums, j'ai trouvé pleins de réponses mais
      ça n'a jamais ...</p>
    {{>atoms-solved}}
  </div>
</a>