<div class="menustick-newsletter">
  <div class="newsletter">
    <input id="text" type="text" placeholder="Mets ton mail pour ne rater aucune info croustillante">
    <img class="c-atom" src="../../images/icons/paperplane.svg" alt="{{ imgIcons.alt }}" class="{{ imgIcons }}" />
  </div>
</div>