<div class="board">
  <canvas id="myCanvas" width="1110px" height="570px"></canvas>
  <br /><br />
  <div class="button-clear">
    <button onclick="javascript:clearArea();return false;">Effacer</button>
  </div>
</div>