<div class="font-extralight">Primary font extra-light: "Source Sans Pro";</div>
<div class="font-light">Primary font light: "Source Sans Pro";</div>
<div class="font-regular">Primary font regular: "Source Sans Pro";</div>
<div class="font-semibold">Primary font semi-bold: "Source Sans Pro";</div>
<div class="font-bold">Primary font bold: "Source Sans Pro"</div>
<div class="font-black">Primary font black: "Source Sans Pro"</div>