<div class="homepage">
  {{>organisms-menublock}} {{>organisms-drawing}} {{>molecules-menuvertical}} {{>atoms-newsletter}} {{>molecules-focus}} {{>molecules-focus-reverse}} {{>organisms-block-art}} {{>atoms-button-more}} {{>organisms-footer}}
</div>