<div class="homepage news-none">
  {{>molecules-menuvertical}} {{>atoms-newsletter}} {{>organisms-head-section}}
  <div class="b-art-soucis">
    {{>organisms-art-soucis}} {{>organisms-art-soucis}} {{>organisms-art-soucis}} {{>organisms-art-soucis}}
  </div>
  {{>atoms-button-more}} {{>organisms-block-square-soucis}} {{>organisms-footer}}
</div>