<div class="menu">
  {{>molecules-menuitem }} {{>molecules-menuitem }} {{>molecules-menuitem }} {{>molecules-menuitem }} {{>molecules-menuitem }} {{>molecules-menuitem }} {{>molecules-menuitem }} {{>molecules-menuitem }} {{>molecules-menuitem }}
</div>