<div class="article">
  {{>atoms-button-section}}
  <h2>BIG TITLE OF THE ARTICLE</h2>
  <div class="date">21 JAN 2017</div>
  <div class="name">JEAN-MI LATRILLE</div>
  <div class="hashtag-art">{{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}} {{>atoms-hashtag}}
  </div>
</div>