<div class="icons-group">
  <div class="atom1">{{>atoms-icons-bra}}</div>
  <div class="atom2">{{>atoms-icons-bra}}</div>
  <div class="atom3">{{>atoms-icons-bra}}</div>
  <div class="atom2">{{>atoms-icons-bra}}</div>
  <div class="atom1">{{>atoms-icons-bra}}</div>
</div>