<div class="menu-code">
  <div class="level1">{{>molecules-square-level}} {{>molecules-square-level}}
  </div>
  <div class="level2">{{>molecules-square-level}} {{>molecules-square-level}}
  </div>
</div>