<div class="homepage news-none">
  {{>organisms-head-section}} {{>molecules-menuvertical}} {{>atoms-newsletter}} {{>organisms-menu-code}} {{>organisms-block-art}} {{>atoms-button-back}} {{>organisms-footer}}
</div>