<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF;"></span>
    <span class="sg-label">
			$color-neutral-white <br />
			#FFFFFF
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F3F2F2;"></span>
    <span class="sg-label">
			$color-neutral-grey1 <br />
			#F3F2F2
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #828282;"></span>
    <span class="sg-label">
			$color-neutral-grey2 <br />
			#828282
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #453F3F;"></span>
    <span class="sg-label">
			$color-neutral-grey3 <br />
			#453F3F
		</span>
  </li>
</ul>