<div class="homepage news-none">
  {{>molecules-menuvertical}} {{>atoms-newsletter}} {{>molecules-search}}
  <div class="tag-search">{{>atoms-hashtag}}</div>
  {{>molecules-focus}} {{>molecules-focus}} {{>molecules-focus}} {{>molecules-block-tags}} {{>molecules-propositions}} {{>organisms-footer}}
</div>