<div class="art-img-preview">
  <a class="art-img-link" href="#">
    <div class="art-filter"> </div>
    {{>atoms-icons-rock}}
    <div class="details">Nom de l'auteur(e)<br>21 JAN 2017</div>
    <div class="art-title-preview">Titre de l'article</div>
  </a>
</div>