<div class=block-art>
  {{>molecules-img-article}} {{>molecules-img-article}} {{>molecules-img-article}} {{>molecules-img-article}} {{>molecules-img-article}} {{>molecules-img-article}} {{>molecules-img-article}} {{>molecules-img-article}}
</div>